.formwrapper{
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: 1vh;
    width: 40vw;
    background-color:white;
    border-radius: 10px;
}

.registerform{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.loginlabel{
    font-size: 30px;
}